<!DOCTYPE html>
<html ng-app="myApp">

<head>
	<title>AngularJs Exercise 2</title>
	<link rel="stylesheet" href="css/style.css" type="text/css"/>
	
	 
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	
	<style>


	</style>
</head>

<body>

<div class="container">

	<div class="content">

		<div class="left-col" ng-controller="leftColController as leftColCtrl">
 			Entries: {{ leftColCtrl.dataService.entry }}	
			<br/>
			Infix Expression: {{ leftColCtrl.dataService.infix }}
			<br/>
			Output: {{ leftColCtrl.dataService.output }}	
			<br/>
			Operator Stack: {{ leftColCtrl.dataService.operator_stack }}	
			<br/>
			Parenthesis Output: {{ leftColCtrl.dataService.parenthesis_output }}	
			<br/>
			Parenthesis Stack: {{ leftColCtrl.dataService.parenthesis_stack }}	
			<br/>
		</div>

		<!-- ################################################# -->

		<div class="right-col" ng-controller="rightColController as rightColCtrl">

			
			<div class="box-2 fl">

				<rpn-add-entry></rpn-add-entry>

	 			<table>

					<tr ng-repeat="entry in rightColCtrl.dataService.entry" class="entry-row">
						<td> {{ entry.name }}</td>
						<td> {{ entry.value }}</td>
					</tr>

		 			<tr>
			 			<td> Formula : </td>
			 			<td> 
			 				<input type="text" ng-model="rightColCtrl.infix" placeholder="enter infix expression"/> 
			 				<input type="text" ng-model="rightColCtrl.rpn" disabled="" class="rpn" /></td>
		 			</tr>

		 			<!--<tr>
		 			<td>Postfix expression:</td>
		 			<td><input type="text" ng-model="rightColCtrl.rpn"/></td>
		 			</tr>-->

		 			<tr>
		 			<td> </td>
		 			<td><button ng-click="rightColCtrl.convert2rpn(rightColCtrl.infix)">Compute</button></td>
		 			</tr>

		 			<tr>
 
		 			<td colspan="2" class="result">Result : {{ rightColCtrl.dataService.result }}	</td>
		 			</tr> 
	 			</table>
			 
 			</div>
		 	
		 	<div class="box-2 fl">
				<div sample-table></div>
 			</div>

		</div>

	</div>

</div>

<!-- <div ng-controller="firstController as firstCtrl">

<input type="text" ng-init="firstCtrl.rules='test'" ng-model="firstCtrl.rules"/>
<button ng-click="firstCtrl.pushRules(firstCtrl.rules)">Push</button>

 
 <br/>
 
</div>
 -->

<script src="js/myApp.js"/></script>
<script src="js/controller/controller.js"/></script>
<script src="js/factory/factory.js"/></script>
<script src="js/directive/directive.js"/></script>
<script src="js/service/dataService.js"/></script>

</body>

</html>