* {
	padding: 0;
	margin: 0;
	outline: 0;
}

body {
	font-family: Tahoma;
	font-size: 10pt;
	line-height: 22px;
	background-color: #111 !important;
	padding-top: 30px;
}

button {
	background-color: #008cff;
	color: #fff !important;
	border: 0px #ddd solid;
	border-radius: 4px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold !important;
	line-height: 1.6em;
}

table {
	width: 100%;
	margin: 30px 0; 
	border-collapse: collapse; 
	border:1px #ddd solid;
}

table thead, table td {
	padding: 5px;
	border: 1px #ddd solid;
}

[disabled] {
	background-color: #ccc;
}

.entry-row td {
	border: 1px #ddd solid;
	border-collapse: collapse;
}

.container {
	background-color: white;
}
 
.content form {
	display: table;
	table-layout: fixed;
}
.content form div {
	display: table-row;
	table-layout: fixed;
	width: 100%;
	padding: 10px;
}

.box-2 {
	width: 48%;
	padding: 1%;
}

.entryList {
	border: 1px #eee solid;
	 
}
.entryList li {
	list-style: none;
	padding: 5px 10px;
	border-bottom: 1px #eee solid;
}
.entryList li:last-child {
	border-bottom: 0px #eee solid;
}

.exp {
	border: 1px #bbb solid;
	background-color: #eee;
	padding: 5px;
}
.plus-btn {

}
input {
	padding: 7px;
}

.rpn {
	background-color: rgba(0,0,0,0);
	border: none;
}

.result {
	font-size: 20px; 
	background-color: #5FBA7D; 
	color:#fff; 
	padding: 10px;
}
 