<!DOCTYPE html>

<html ng-app="myApp">

	<head>
		<title>RPN - Angular</title>
		<link rel="stylesheet" href="css/style.css">

	 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 	<base href="/">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	</head>

	<body>

		<div class="container" style="border: 1px #ddd solid;">
			
			<div class="row">

				<div class="col-md-12" ng-controller="mainController as mainCtrl">
							
					<h1>Reverse Polish Notation</h1>
					
					<div class="col-md-6">
						<h3>Add Entry</h3>
						<small>* Names are alphanumeric but should starts with a letter</small><br/>
						<small>* Value should be numbers only and no space</small>
						
						
						<div add-entry></div>

						<div entry-table></div>

	 					<!-- <div directive-factory></div> -->
		 			</div>
				 	
				 	<div class="col-md-6">

				 		<h2>Formula</h2>
				 		<small>Formula should be space separated.</small><br/>
				 		<small>Undefined name will return and error.</small>
						<table>
				 			<tr>
					 			<td><input type="text" ng-model="mainCtrl.infix" placeholder="enter infix expression"/> </td>
					 			<td><button ng-click="mainCtrl.convert2rpn(mainCtrl.infix)">Compute</button></td>
				 			</tr>

				 			<tr>
				 				<td colspan="2"><input type="text" ng-model="mainCtrl.str_rpn" disabled class="rpn" /></td>
				 			</tr>	 
			 			</table>


			 			<div class="result">Result : {{ mainCtrl.result }}</div>

						
		 			</div>

				</div>

				<div class="col-md-12" style="padding: 50px 0; border-top: 1px #ddd solid; margin-top: 20px;">
	
					
	
					<table class="sample-table">

						<thead>
							<tr>
					 		<th> Infix Expression </th>
					 		<th> Postfix </th>
					 		<th> Result </th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td> 3 + 4 * 2 / ( 1 - 5 )</td>
								<td> 3 4 2 * 1 5 - / + </td>
								<td> 1   </td>
							</tr>
							<tr>
								<td> 4 * 3 + 2 / 1</td>
								<td> 4 3 * 2 1 / + </td>
								<td> 14 </td>
							</tr>
							<tr>
								<td> 4 + 18 / ( 9 - 3 )</td>
								<td>4 18 9 3 - / +</td>
								<td> 7</td>
							</tr>
							<tr>
								<td> 4 * 3 + 2 - 1</td>
								<td> 4 3 * 2 + 1 -</td>
								<td> 13 </td>
							</tr>
							<tr>
								<td> 2 * ( 3 + 4 ) - 6</td>
								<td> 2 3 4 + * 6 -</td>
								<td> 8  </td>
							</tr>
						</tbody>

					</table>

					<h3>Logs</h3>

					<div ng-controller="mainController as mainCtrl">
						Entry: {{ mainCtrl.entry }}	<br/>

						Infix: {{ mainCtrl.infix }}	<br/>

						Output: {{ mainCtrl.output }}	<br/>

						Stack: {{ mainCtrl.stack }} <br/>

						Operator Stack: {{ mainCtrl.operator_stack }}<br/>

						Message: {{ mainCtrl.message }}
					</div>

				</div>

			</div>

		</div>

 
		<script src="js/bundle.js"></script>

	</body>

</html>